.main-container {
  font-size: 18px;
  flex: 1;
  border-radius: 8px;
  background-color: #E8E8E8;
  border: dashed 8px red;

  padding: 8px;
}

.container {
  font-size: 18px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  padding: 8px;
  margin: 8px;
}
.container:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
