/* reset styles */
.container-main {
  font-size: 18px;
  flex: 1;
  border-radius: 8px;
  border: dashed 2px red;
}

.item {
  font-size: 18px;
  border-radius: 8px;
  border: dashed 2px blue;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.container {
  font-size: 18px;
  border-radius: 8px;
  border: dashed 2px red;
}
.container:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
/* ------------- */
